<!DOCTYPE html>
<head>

</head>
<body>
    <table style="align:center">
        <%for (user in users) {%>
        <tr>
            <th><%=users[user].username%></th>
            <th><%=users[user].points%></th>
        </tr>
        <%}%>
    </table>
</body>