body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container-center {
    margin: auto;
    text-align: center;
    align-content: center;
}

textarea {
    margin: auto;
    width: 100%;
    height: 100%;
}