<!DOCTYPE html>
html(lang="en")
    head
        include Includes/head.pug
    body
        div(class="container-center")
            h1= title
        div(class="container-center")
            input(type="email", id="user")
                br
            input(type="password", id="pass")
                br
            button(onClick="signup()") Sign Up